body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.logo {
  float: left;
}

.topbt {
  float: left;
  background-color: #c1272d;
}

.topbt.w--open {
  float: left;
}

.topbt.open {
  padding: 12px 20px;
  background-color: #b11f24;
  color: #fff;
  font-size: 30px;
}

.icon {
  float: right;
  color: #fff;
  font-size: 34px;
}

.submenu {
  margin-right: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
  background-color: #c1272d;
  color: #fff;
}

.submenu:hover {
  background-color: #fff;
  color: #c1272d;
}

.submenu:active {
  background-color: #b11f24;
  color: #cec8c8;
}

.rkblocktop {
  display: block;
  margin: 10px;
  text-align: center;
}

.text {
  margin-top: 7px;
  float: right;
  color: #fff;
  font-size: 18px;
}

.rktopblock {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: 0px;
  padding: 10px;
  background-color: #0098ff;
}

.body {
  background-color: #fff;
  font-style: normal;
}

.body:hover {
  color: #c52324;
}

.body:active {
  color: #b81818;
}

.content {
  min-height: 700px;
  margin-top: 10px;
  margin-bottom: 0px;

 max-width:1004px;
 margin-left:auto;
 margin-right:auto;
}

.solumns {
  min-height: 500px;
  border-width: 1px;
}

.leftmenu {
  left: 0px;
  top: 57px;
  bottom: 0px;
  width: 260px;
  background-color: #b81818;
  box-shadow: 1px 1px 3px 0 #000;
}

.navbar {
  margin-bottom: -15px;
  padding-bottom: 0px;
}

.menupage {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-right: 2px;
  padding-top: 15px;
  padding-right: 1px;
  padding-bottom: 15px;
  float: left;
  border-bottom: 2px solid #fff;
  background-color: #c52324;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.menupage:hover {
  background-color: #e62929;
  color: #fff;
}

.menupage:active {
  background-color: #b81818;
  color: #cec8c8;
}

.menupage.mmargin {
  margin-left: 0px;
}

.menupage.menupageselected {
  background-color: #ececec;
  color: #c52324;
  font-size: 16px;
  font-weight: 400;
}

.menucolumn1 {
  padding-right: 1px;
  padding-left: 0px;
}

.menucolumn2 {
  padding-right: 0px;
  padding-left: 1px;
}



.iph2 {
  display: block;
  margin: 10px 10px 0px;
  padding: 2px 10px;
  background-color: #c52324;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.rday-1 {
  float: left;
}

.rday-2 {
  margin-left: 5px;
  float: right;
}

.rday-3 {
  margin-top: 0px;
  margin-left: 0px;
  float: left;
  clear: none;
}

.rday-4 {
  margin-top: 5px;
  margin-left: 5px;
}

.rdaycolumn-1 {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.rdaycolumn-2 {
  padding-right: 0px;
  padding-left: 5px;
}

.rdayblock {
  width: 680px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.anonsnews {
  display: block;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #ececec;
  background-image: url('../images/angle-right.gif');
  background-position: 100% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  color: #b81818;
  font-size: 22px;
  text-decoration: none;
}

.anonsnews:hover {
  background-color: #f5f7d7;
}

.anonsnewsimg {
  margin-right: 10px;
  float: left;
}

.textanonsltitle {
  font-size: 22px;
}

.anonsnewstdate {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9b9b9b;
  font-size: 14px;
}

.anonslinkstr {
  display: inline-block;
  margin-top: 50px;
  float: right;
}

.newsanonstitle {
  margin-top: 5px;
  color: #000;
  font-size: 20px;
}

.anonsarticles {
  margin-top: 10px;
}

.anonsnewstext {
  color: #4d4d4d;
  font-size: 12px;
}

.newrecipe {
  margin-left: 10px;
}

.newrecipe.str2 {
  margin-top: 10px;
  margin-left: 0px;
}

.newrecipe.str2.p2 {
  margin-left: 10px;
}

.newrecipelable {
  position: relative;
  left: 1px;
  top: -159px;
  z-index: 0;
  display: block;
  float: right;
}

.newrecipelinkbclok {
  width: 234px;
  height: 157px;
}

.newrecipelinkblock {
  width: 236px;
  height: 157px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.newrecipelinkblock:hover {
  opacity: 0.8;
}

.newrecipelinkblock.margin {
  margin-left: 10px;
}

.newrecipelinkblock.margin-top-10 {
  margin-top: 10px;
}

.newrecipelinkblock.margin-top-10.margin-left-10 {
  display: inline-block;
}

.h1 {
  display: block;
  margin: 0px 10px;
  border-bottom: 1px solid #c52324;
  color: #c52324;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.path {
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
}

.pagetext {
  font-size: 18px;
max-width:1004px;
margin-left:auto;
margin-right:auto;
}

.menublock {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.divnewrecipeblock {
  max-width: 1004px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.recipeblock {
  width: 236px;
  min-height: 296px;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
/*  box-shadow: 0 1px 4px 0 #757474;*/
  box-shadow: 0 1px 2px 0 #757474;
  color: #c52324;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.recipeblock:hover {
  background-color: #f5f7d7;
  box-shadow: 0 1px 4px 0 #b80f0f;
}

.recipeblocktext {
  display: block;
  overflow: hidden;
  max-height: 42px;
  margin: 12px 7px 10px;
  font-size: 20px;
  font-style: normal;
  text-align: center;
}

.recipeblocknewrecipelable {
  position: relative;
  margin-top: -2px;
  margin-right: -2px;
  margin-bottom: -78px;
  float: right;
}

.recipeblockratingrecipe {
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #9b9b9b;
}

.recipeblockrating {
  position: relative;
}

.blockrecipelike {
  position: relative;
  height: 24px;
  max-width: 80px;
  min-width: 50px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 2px 2px 2px 20px;
  float: right;
  border: 1px solid #cec8c8;
  border-radius: 2px;
  background-color: #ececec;
  background-image: url('../images/bt-like-recipe.gif');
  background-position: 0px 50%;
  background-size: 17px;
  background-repeat: no-repeat;
  color: #9b9b9b;
  font-size: 12px;
}

.divrecipeblockmargin {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.divrecipeblock {
  display: block;
  max-width: 1004px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.nextpage {
  display: block;
  width: 80%;
  max-width: 768px;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #9b9b9b;
  background-color: #ececec;
  color: #9b9b9b;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nextpage:hover {
  background-color: #f5f7d7;
}

.nextpageicon {
  margin-bottom: 5px;
}

.navigation {
  clear: both;
  text-align: center;
}

.rkblockbottom {
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.footercopytext {
  font-size: 13px;
}

.fullversionsite {
  font-size: 18px;
}

.footerrowmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footerbutton {
  display: block;
  width: 100%;
  height: 96px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  background-color: #c52324;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.footebtcolumn1 {
  padding-right: 5px;
  padding-left: 0px;
}

.footebtcolumn2 {
  padding-right: 0px;
  padding-left: 5px;
}

.footerbuttonicon {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 20px;
  background-color: #e62929;
}

.topmenunav {
  width: 100px;
  margin-top: 10px;
  margin-left: 5px;
  float: right;
  background-color: #c52324;
  text-align: center;
}

.topmenunav:hover {
  background-color: #e62929;
}

.topmenunav:active {
  background-color: #b81818;
}

.topmenunav.addmargin {
  margin-right: 10px;
}

.topmenunav.myrecipebtn {
  width: 160px;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e2e2e2;
  color: #c52324;
  font-weight: 700;
}

.topmenunav.myrecipebtn:hover {
  background-color: #c52324;
  color: #ececec;
}


.topmenunum {
  display: inline-block;
  min-width: 22px;
  padding: 2px;
  border-radius: 2px;
  background-color: #c52324;
  color: #fff;
}

.logolinkblock {
  margin-top: 5px;
  margin-left: 10px;
}

.rowmenupage {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

}

.imagelink {
  text-decoration: none;
}

.imagelink:hover {
  opacity: 0.85;
}

.rdaytext {
  position: relative;
  display: inline-block;
  margin-top: -65px;
  padding: 20px 10px 15px;
  float: left;
  background-color: #b81818;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.rdaytextshag {
  position: relative;
  display: inline-block;
  margin-top: -25px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  background-color: #c52324;
  color: #fff;
  font-size: 16px;
}

.rdaysmalltext {
  position: relative;
  display: inline-block;
  height: 32px;
  margin-top: -34px;
  padding: 4px 5px 3px;
  float: left;
  background-color: #c52324;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
}

.rdayphotoshover:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.navbarblock {
  border-bottom: 1px solid #cec8c8;
  background-color: #f3f3f3;
}

.recipesblock {
  clear: both;
}

.articlestext {
  min-height: 300px;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 16px;
  text-align: left;
max-width:1004px;
margin-left:auto;
margin-right:auto;
}

.arth2 {
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #b81818;
  color: #b81818;
  font-size: 30px;
  font-weight: 400;
}

.insartrezdel {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 10px;
  background-color: #c52324;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.insartrezdel:hover {
  background-color: #e62929;
}

.insartrezdel:active {
  background-color: #b81818;
}

.arh2link {
  color: #c52324;
  text-decoration: none;
}

.arh2link:hover {
  color: #e62929;
}

.navtext {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.curnpg {
  display: inline-block;
  margin-left: 10px;
  padding: 15px 20px;
  border: 1px solid #9b9b9b;
  background-color: #f3f3f3;
  font-size: 22px;
}

.selectpg {
  margin-left: 10px;
  padding: 13px 20px;
  border: 1px solid #cec8c8;
  background-color: #c52324;
  color:#fff;
  font-size: 22px;
  text-decoration: none;
}

.selectpg:hover  {
  color: #fff;
  background-color: #e62929;
}

.selectpg:active {
  color: #fff;
  background-color: #b81818;
}

.selectpg:visited {
  color: #fff;
  background-color: #b81818;
}

.pathlink {
  color: #c52324;
  font-size: 12px;
}

.pathlink:hover {
  color: #e62929;
  text-decoration: none;
}

.pathlink:active {
  color: #b81818;
}

.redlink {
  color: #c52324;
}

.redlink:hover {
  color: #e62929;
  text-decoration: none;
}

.redlink:active {
  color: #b81818;
}

.nextprevbuttondiv {
  margin-right: 10px;
  margin-left: 10px;
}

.nextprevbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #c52324;
  color: #f3f3f3;
  font-size: 18px;
  text-decoration: none;
}

.nextprevbutton:hover {
  background-color: #e62929;
}

.nextprevbutton:active {
  background-color: #b81818;
}

.nextprevbutton.addfloatright {
  float: right;
}

.recipediv {
  display: block;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;

max-width:804px;
 margin-left:auto;
 margin-right:auto;

  text-align: center;
}

.stitle {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px 10px;
  background-color: #c52324;
  color: #fff;
  font-size: 22px;
  text-align: left;
}

.fsmphoto {
  text-align: right;
}

.newrlable {
  position: absolute;
  margin-top: -1px;
  margin-left: -85px;
}

.inglist {
  margin-top: 5px;
  padding: 7px 10px;
  font-size: 16px;
  text-align: left;
}

.rpluslable {
  position: absolute;
  margin-top: 231px;
  margin-left: -40px;
}

.reciperating {
  padding-top: 10px;
  padding-bottom: 10px;
}

.reciperatingtext {
  font-size: 16px;
}

.socbtnblock {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.socbtn {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  clear: both;
}

.socbtntext {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #c52324;
  font-size: 26px;
}

.leftmenushadow {
  position: relative;
  width: 1000%;
  height: 100%;
  background-color: #000;
}

.rkblocktop2 {
  text-align: center;
}

.textfooter {
  text-align: center;
}


.raddfv {

position:relative;
z-index:10;
font-size:14px;
text-decoration:underline;
text-align:left;
/*color:#000;*/
color:#989898;
width:130px;
border-radius:2px;
margin-top:42px;
margin-left:8px;
padding:3px 13px 5px 23px;
background-image: url('/images/fav-star-frbt.png');
/*background-color:#fff;*/
background-position: 2px 4px;
background-repeat:no-repeat;

}

.raddfv:hover {
background-color:#c52324;
color:#fff;
}


.raddfvselect {
position:absolute;
z-index:10;
background-image: url('/images/fav-star-img.png');
width:35px;
height:33px;
float:right;
margin-top:141px;
margin-left:204px;

background-repeat: no-repeat;
}



@media (max-width: 991px) {
  .logo {
    margin-top: 1px;
  }
  .leftmenu {
    width: 260px;
  }
  .rday-3 {
    margin-top: 0px;
  }
  .newsanonstitle {
    font-size: 20px;
  }
  .newrecipelable {
    position: relative;
    top: -121px;
    overflow: visible;
    float: right;
  }
  .newrecipelinkblock {
    width: 179px;
    height: 121px;
  }
  .divnewrecipeblock {
    width: 765px;
  }
  .divrecipeblock {
    width: 750px;
  }
  .articlestext {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .logo {
    margin-top: 0px;
    padding-top: 0px;
  }
  .topbt.open {
    float: right;
  }
  .submenu {
    text-align: center;
  }
  .leftmenu {
    left: auto;
    top: 57px;
    right: -1px;
    bottom: 0px;
    width: 100%;
    box-shadow: 1px 1px 3px 0 #525151;
  }
  .rdayblock {
    width: 548px;
  }
  .anonsnewsimg {
    width: 140px;
  }
  .newsanonstitle {
    font-size: 16px;
  }
  .newrecipelable {
    top: -118px;
  }
  .newrecipelinkblock {
    width: 175px;
  }
  .h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .divnewrecipeblock {
    width: 565px;
    margin-right: auto;
    margin-left: auto;
  }
  .recipeblock {
    width: 174px;
    min-height: 235px;
  }
  .recipeblocktext {
    font-size: 18px;
  }
  .recipeblocknewrecipelable {
    width: 70px;
  }
  .recipeblockratingrecipe {
    width: 80px;
  }
  .blockrecipelike {
    height: 24px;
    margin-top: 1px;
    margin-right: 5px;
  }
  .divrecipeblock {
    width: 565px;
  }
  .articlestext {
    font-size: 16px;
  }
  .curnpg {
    padding: 12px 15px;
  }
  .selectpg {
    padding: 10px 15px;
    font-size: 20px;
  }
  .stitle {
    font-size: 18px;
  }
  .inglist {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
  }


.raddfv {
font-size:12px;
margin-top:32px;
margin-left:6px;
padding:3px 4px 5px 23px;
width:105px;
}

.raddfvselect {
margin-top:100px;
margin-left:140px;
}



}

@media (max-width: 479px) {
  .logo {
    display: block;
    margin-top: 2px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
  }
  .topbt {
    padding: 12px;
    background-color: #c1272d;
  }
  .topbt.open {
    padding: 18px 15px 15px;
    float: right;
    background-color: #c1272d;
  }
  .topbt.open.w--open {
    margin-top: 0px;
    margin-right: 0px;
    padding: 18px 15px 15px;
  }
  .icon {
    color: #fff;
    font-size: 26px;
  }
  .submenu {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .35);
    background-color: #c1272d;
    color: #fff;
  }
  .submenu:hover {
    background-color: #fff;
    color: #c1272d;
  }
  .text {
    margin-top: 2px;
  }
  .leftmenu {
    right: -1px;
    width: 100%;
  }
  .menupage {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .rdayblock {
    width: 300px;
  }
  .anonsnews {
    margin-top: 5px;
    padding: 5px;
    background-position: 103% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 14px;
  }
  .anonsnewsimg {
    max-width: 100px;
  }
  .anonsnewstdate {
    font-size: 10px;
  }
  .anonslinkstr {
    margin-top: 30px;
  }
  .newsanonstitle {
    margin-top: 2px;
  }
  .newrecipelable {
    top: -98px;
  }
  .newrecipelinkblock {
    width: 145px;
    height: 97px;
  }
  .newrecipelinkblock.margin-top-10 {
    float: left;
  }
  .newrecipelinkblock.margin-top-10.margin-left-10 {
    float: left;
  }
  .h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .divnewrecipeblock {
    width: 320px;
  }
  .recipeblock {
/*    width: 144px;*/
/*    min-height: 190px;*/

    width: 158px;
    min-height: 230px;

  }
  .recipeblocktext {
    max-height: 51px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
  }
  .recipeblocknewrecipelable {
    width: 50px;
  }
  .recipeblockratingrecipe {
    margin-left: 5px;
  }
  .blockrecipelike {
    height: 22px;
    padding-top: 1px;
    font-size: 11px;
    font-style: normal;
  }
  .divrecipeblock {
/*    width: 320px;*/
    width: 350px;
  }
  .rdaytext {
    margin-top: -26px;
    padding: 2px 5px;
    font-size: 12px;
  }
  .rdaytextshag {
    margin-top: -21px;
    font-size: 9px;
    line-height: 18px;
  }
  .rdaysmalltext {
    font-size: 10px;
  }
  .articlestext {
    margin-right: 10px;
    margin-left: 10px;
  }
  .insartrezdel {
    font-size: 14px;
  }
  .navtext {
    font-size: 14px;
  }
  .curnpg {
    margin-left: 1px;
    font-size: 16px;
  }
  .selectpg {
    margin-left: 1px;
    font-size: 16px;
    line-height: 60px;
  }
  .nextprevbutton {
    font-size: 10px;
  }
  .inglist {
    padding-left: 2px;
  }
  .rpluslable {
    margin-top: 165px;
  }
  .socbtn {
    width: 45px;
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 0px;
  }
  .socbtntext {
    font-size: 20px;
  }
  .rphotosmall {
    float: left;
    width:400px;
    height:268px;
  }

  .myrecipephoneicon {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-top: 18px;
    margin-right: 8px;
    float: right;
    text-align:center;
  }

.topmenunum {
  display: inline-block;
  min-width: 32px;
  padding: 4px;
  font-size:14px;
  border-radius: 2px;
  background-color: #c52324;
  color: #fff;
}

.raddfv {
font-size:12px;
margin-top:28px;
margin-left:4px;
padding:3px 4px 5px 23px;
width:105px;
}

.raddfvselect {
margin-top:84px;
margin-left:124px;
}


}


.ih1 {
  color: #c52324;
  font-size: 18px;
  font-weight: 400;
  text-align: left;

}

.ifootertext {
  font-size: 14px;
  margin-bottom:10px;
}

.ifootertext a:link, .ifootertext a:visited  {
  color: #c52324;
  text-decoration:underline;
}

.ifootertext a:hover {
  color: #c52324;
  text-decoration:none;
}

.pgrdivrec {
  float: left;
}

.rdelico {
  position: absolute;
  display: inline-block;
  margin-top: -1px;
  margin-left: -14px;

  padding: 0px 6px 2px;
  border-radius: 10px;
  background-color: #e9e9e9;
  font-family: Verdana, Geneva, sans-serif;
  color: #c5c5c5;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}


.rdelico:hover {
  background-color: #c00;
  color: #fff;
}

.mypagemess {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
  border: 1px dashed #969696;
  background-color: #ffffd5;
}

.pgcontent a:link, .pgcontent a:visited {
color:#c52324;
text-decoration:underline;
}

.pgcontent a:hover {
color:#e62929;
text-decoration:none;
}


.mypagemessclose {
  display: inline-block;
  float: right;
  color: #c00;
}

.mypagemessclose:hover {
  color: #c52324;
  text-decoration: none;
}


.authform {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  box-shadow: 0 0 6px 0 #fff, 0 1px 3px 0 #000;
}

.authformbtn {
  min-width: 120px;
  background-color: #c00;
}

.rphotoblock {
 min-height:268px;
}

.pgblockmyrecipe {
  height:80px;
  line-height: 2;
  margin-top:20px;
  text-align: center;
}

.btnshare {
  display: inline-block;
  width: 300px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: #c00;
  color: #fff;
  font-size: 18px;
}

.btnshare:hover {
  box-shadow: inset 0 0 8px 0 #fff;
  text-shadow: 1px 1px 6px #fff;
}

.btnshare:active {
  box-shadow: inset 0 0 8px 0 #850404;
  color: hsla(0, 0%, 100%, .5);
  text-shadow: none;
}

.rphotoblock {
 min-height:268px;
}

.mybtntop {

  position:absolute;
  width: 100px;
  margin-top: 5px;
  margin-right: 20px;
  right: 0;
  color: #c52324;

  font-size:16px;
  text-align: center;
  text-decoration:underline;
}

.mybtntop:hover {

  text-decoration:none;
}

.mybtntop:active {
  color: #c52324;
}


.rrating {
  display: block;

  width: 300px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.rratingtext {

  margin-top: 10px;
  color: #c00;
  font-size: 16px;
  font-weight: 600;
  text-align:center;
}
.rratingtext .title {
font-size: 26px;
}

.rratingtext .rtmargin {

}



.rratingstars {

  width: 196px;
  height: 42px;
  margin:0 auto;

  padding-bottom: 10px;
  border-bottom: 1px dashed #c4c4c4;
  background-image: url('../images/rating_v02_big_color_1.png'), url('../images/rating_v02_big_color_0.png');
  background-position: 0px 0px, 0px 0px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.rstar1 {
  position: absolute;
  z-index: 5;
  width: 40px;
  height: 36px;
}

.rstar1:hover {
  background-image: url('../images/rating_v02_big_color_2.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.rstar1.rstar2 {
  position: absolute;
  z-index: 4;
  width: 80px;
}

.rstar1.rstar2:hover {
  position: absolute;
  width: 80px;
}

.rstar1.rstar3 {
  z-index: 3;
  width: 120px;
}

.rstar1.rstar4 {
  z-index: 2;
  width: 160px;
}

.rstar1.rstar4:hover {
  z-index: 2;
}

.rstar1.rstar5 {
  z-index: 1;
  width: 200px;
}

.favbtnwin {
position:fixed;
z-index:1000;
width:60px;
height:60px;
border-radius:100px;
color:#c52324;
font-size:26px;
text-align:center;
padding-top:23px;
background-color:#c52324;
background-image: url('../images/fav-star-win.png');
background-size: 80% 80%;
background-position: 50% 50%;
background-repeat: no-repeat;
top:90%;
text-decoration:none;
font-weight:600;

right:10px;
opacity: 0.4;
}

.favbtnwin:hover {
opacity: 1;
}

@media (max-width: 642px) {
.favbtnwin {
width:50px;
height:50px;
font-size:22px;
padding-top:19px;
background-size: 74% 74%;
}

}

@media (max-width: 321px) {
.favbtnwin {
width:45px;
height:45px;
font-size:20px;
padding-top:15px;
}

}

.lbox {

display:none;
opacity:0;


}
